<?xml version="1.0" encoding="UTF-8"?>

<weSync> 
  <status> 
    <lastSyncTime>2016-05-27 09:53:00</lastSyncTime>  
    <lastKeepTime>10.125</lastKeepTime>  
    <successTime>35</successTime>  
    <failTime>10</failTime> 
  </status>  
  <database> 
    <from> 
      <type>MySQL</type>  
      <host>1127.0.0.1</host>
      <name>miniPacs</name>  
      <user>c58467a2daf35de7</user>  
      <password>24cd4abf161a54b1</password> 
    </from> 
  </database>  
  <backup/>  
  <setting> 
    <autoBak>true</autoBak>  
    <debugMode>true</debugMode>  
    <strictMode>false</strictMode>  
    <mysqlPath>D:\MySQL</mysqlPath>  
    <productname>产品A,产品B</productname> 
  </setting>  
  <increase> 
    <POSITION_CODE>0</POSITION_CODE> 
  </increase>  
  <login> 
    <USER_NAME>18782950220</USER_NAME>  
    <USER_PASS>123456</USER_PASS>  
    <TOKEN>b25e39b47e774b4a05b3cb1555fc377f209457c3fd339d373d3fca7b1ea8be56fdc6ed05b7ffb070ed89fc076c920094e8f645c3d8b85bee22ccbaee9a5a20be1ffdb4d0a32ccc57e5fe92d4928c9bd3bdb09ed180c4eb615d0175220b19dff3817ecb345d60afa31c4f8f46fd7b53f0a400bd6ead7d7fb2d554ae81acd456ce5a876064578642ab8ce90294291a95863c461f76df9319f0ae3aeeb599dd9b24b836c0dcddceded9a56b852886dcc0a163db7d1f2618ee18130e33493fd6f127735e72bbc243b3cc</TOKEN> 
  </login>  
  <base> 
    <URL>https://api.qgniao.com</URL>  
    <LOCAL_PACS_AETITLE>QGN</LOCAL_PACS_AETITLE>  
    <LOCAL_PACS_PORT>1999</LOCAL_PACS_PORT>  
    <REMOTE_PACS_PORT>11112</REMOTE_PACS_PORT>  
    <REMOTE_PACS_URL>139.9.157.109</REMOTE_PACS_URL>  
    <REMOTE_PACS_AETITLE>DCM4CHEE</REMOTE_PACS_AETITLE>  
    <LOCAL_DICOM_PATH>/home/burgess/pacs/dicom</LOCAL_DICOM_PATH>  
    <UPLOAD_MODE>DIR</UPLOAD_MODE> 
  </base> 
</weSync>
