<?xml version="1.0" encoding="UTF-8"?>

<weSync> 
  <status> 
    <lastSyncTime>2016-05-27 09:53:00</lastSyncTime>  
    <lastKeepTime>10.125</lastKeepTime>  
    <successTime>35</successTime>  
    <failTime>10</failTime> 
  </status>  
  <database> 
    <from> 
      <type>MySQL</type>  
      <host>127.0.0.1</host>  
      <name>miniPacs</name>  
      <user>c58467a2daf35de7</user>  
      <password>24cd4abf161a54b1</password> 
    </from> 
  </database>  
  <backup/>  
  <setting> 
    <autoBak>true</autoBak>  
    <debugMode>true</debugMode>  
    <strictMode>false</strictMode>  
    <mysqlPath>D:\MySQL</mysqlPath>  
    <productname>产品A,产品B</productname> 
  </setting>  
  <increase> 
    <POSITION_CODE>0</POSITION_CODE> 
  </increase>  
  <login> 
    <USER_NAME>18908229278</USER_NAME>  
    <USER_PASS>123456</USER_PASS>  
    <TOKEN>b25e39b47e774b4a05b3cb1555fc377f209457c3fd339d373d3fca7b1ea8be56fdc6ed05b7ffb070ed89fc076c920094b4a5dbd0b98f6c343ac2f5f785316009b550c461352939dd68e226962ce8b0fa787f26190c670e7943e943cc30e259b25a2695a1053b38c34f57e30344551865e5fe92d4928c9bd38a5a9437348f71426e5b096f44c13e36fca89e80eb92cfe421190a622c39165f1f4848f0864df6de37273402fd12a4ceaf9acf8d5cf016d0d1945d0a8f9c0916db5b91c3fcea252b</TOKEN> 
  </login>  
  <base> 
    <URL>http://192.168.0.99:9527</URL>  
    <LOCAL_PACS_AETITLE>QGN</LOCAL_PACS_AETITLE>  
    <LOCAL_PACS_PORT>1999</LOCAL_PACS_PORT>  
    <REMOTE_PACS_PORT>11112</REMOTE_PACS_PORT>  
    <REMOTE_PACS_URL>139.9.157.109</REMOTE_PACS_URL>  
    <REMOTE_PACS_AETITLE>DCM4CHEE</REMOTE_PACS_AETITLE>  
    <LOCAL_DICOM_PATH>/home/burgess/pacs/dicom</LOCAL_DICOM_PATH>  
    <UPLOAD_MODE>DIR</UPLOAD_MODE> 
  </base> 
</weSync>
