<?xml version="1.0" encoding="UTF-8"?>

<root> 
  <status> 
    <lastSyncTime>2016-05-27 09:53:00</lastSyncTime>  
    <lastKeepTime>10.125</lastKeepTime>  
    <successTime>35</successTime>  
    <failTime>10</failTime> 
  </status>  
  <database> 
    <from> 
      <type>MySQL</type>  
      <host>127.0.0.1</host>  
      <name>miniPacs</name>  
      <user>c58467a2daf35de7</user>  
      <password>c58467a2daf35de7</password> 
    </from> 
  </database>  
  <backup/>  
  <setting> 
    <autoBak>true</autoBak>  
    <debugMode>true</debugMode>  
    <strictMode>false</strictMode>  
    <mysqlPath>D:\MySQL</mysqlPath>  
    <productname>设置</productname> 
  </setting>  
  <increase> 
    <POSITION_CODE>0</POSITION_CODE> 
  </increase>  
  <login> 
    <USER_NAME>18782950220</USER_NAME>  
    <USER_PASS>123456</USER_PASS>  
    <TOKEN>b25e39b47e774b4a05b3cb1555fc377f209457c3fd339d373d3fca7b1ea8be56fdc6ed05b7ffb070ed89fc076c920094e8f645c3d8b85beee2886cf4f92f959ffdca9867a6abe472e5fe92d4928c9bd3bdb09ed180c4eb615d0175220b19dff3817ecb345d60afa31c4f8f46fd7b53f0a400bd6ead7d7fb2d554ae81acd456ce5a876064578642ab8ce90294291a9586a1091f936056c5e43a22c7e0df99ef665789134ecf2a9a51400209174bb45a540ab2438903a68fc06b34193414e9ae868622f3f70e08103b</TOKEN> 
  </login>  
  <base> 
    <URL>https://api.qgniao.com</URL>  
    <LOCAL_PACS_AETITLE>QGN</LOCAL_PACS_AETITLE>  
    <LOCAL_PACS_PORT>1999</LOCAL_PACS_PORT>  
    <REMOTE_PACS_PORT>11112</REMOTE_PACS_PORT>  
    <REMOTE_PACS_URL>139.9.157.109</REMOTE_PACS_URL>  
    <REMOTE_PACS_AETITLE>DCM4CHEE</REMOTE_PACS_AETITLE>  
    <LOCAL_DICOM_PATH>/home/burgess/pacs/dicom</LOCAL_DICOM_PATH>  
    <UPLOAD_MODE>DIR</UPLOAD_MODE> 
  </base> 
</root>
